<% if @errors %>
<%= erb :"_errors", locals: {errors: @errors} %>
<% end %>

<% @questions.each do |question| %>
  <div class="choice-list">   
    <div class="choice-container">
      <h3><%= question.body %></h3>
    </div>
    <%= erb :"/choices/new", locals: { question: question } %>
  </div>
<% end %>
