<h2><%= @survey.title %></h2>

<% if @errors %>
<%= erb :"_errors", locals: {errors: @errors} %>
<% end %>


<form action="/surveys/<%= @survey.id %>/questions" method="post" class="question-form">
  <fieldset class="question-field">
    <%= erb :"/surveys/_add_question" %>
  </fieldset>
  <button type="button" class="add-question-input add-button"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
  <input type="submit" value="Submit All Questions">
</form>
