body {
  display: flex;
  justify-content: center;
}

.container {
  width: 960px;
  margin: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav li {
  margin: 5px;
}

.button {
  background:none!important;
  border:none;
  padding:0!important;
  text-decoration: none;
  color: #fff;
  cursor:pointer;
  vertical-align: middle;

}

html {
  background-color: #4D767F;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
.main {
  margin: 5%;
  padding: 5%;
  background-color: #d3e5ea;
  font-family: 'Lato', sans-serif;
}

.survey-container {
  text-align: center;
}
.survey-title-item{
  background-color: #FFF;
  padding: 5%;
  margin: 5%;
}

.survey-title-item a, .show-user-survey-title, .taken-list {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  text-decoration: none;
}

.survey-title-item a:link {
  color: #CC7A67;
}

.survey-title-item a:visited {
  color: #CC7A67;
}

.survey-title-item a:hover {
  color: #995B4D;
}

rect.highcharts-background {
  margin-bottom: 50px;
}

.survey-form {
  padding-top: 25px;
  border-top: solid 2px #CC7A67;
  margin-top: 25px;
  text-align: left;
}

.survey-form p {
  text-align: left;
}

.survey-question-label {
  font-weight: 900;
  text-align: left;
  margin-top: 20px;
}

.show-user-survey-title {
  background-color: #FFF;
  padding: 5%;
  margin: 5%;
  text-align: center;
}

.taken-list {
  border-top: solid 2px #FFF;
  border-bottom: solid 2px #FFF;

  padding: 5%;
  margin: 5%;
  text-align: center;
}

.logo-container h1 a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  vertical-align: middle;
}

nav {
}

.logo-container {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}

nav img {
  padding-right: 50px;
}

h1 {
  margin: 0 auto;
}

nav li a {
  color: #fff;
  text-decoration: none;
  vertical-align: middle;

}

img.logo  {
  height: 100px;
}

.fa-arrow-circle-up a:link, .fa-arrow-circle-down a:link {
  color: #CC7A67;
}

.fa-arrow-circle-up a:visited, .fa-arrow-circle-down a:visited {
  color: #CC7A67;
}

.home {
  color: white !important;
  font-size: 20px;
  vertical-align: middle;
}

i.fa-arrow-circle-down, i.fa-arrow-circle-up, i.fa-plus-circle {
  color: #CC7A67;
}

.survey-submit-button {
  margin: 20px auto;
  outline: 0;
  border: 0;
  padding: 10px;
  background-color: #CC7A67;
  width: 200px;
  color: #fff;
  text-transform: uppercase;
}

hr {
  margin: 50px;
}

.hide-button {
  border: 0;
  outline: 0;
  background: none;
}

.login-register-form, .new-survey-form{
  margin: 0 auto;
  width: 300px;
}
.question-form, .choice-form {
  box-sizing: border-box;
  margin: 0 auto;
  width: 60%;
}

.question-form fieldset, .choice-form fieldset {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0 auto;
}

.question-field textarea, .choice-form textarea {
  margin: 10px auto;
  width: 100%;
  height: 100px;
  border: 0;
  outline: 0;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.question-form input[type=submit], .choice-form input[type=submit] {
  margin: 10px auto;
  width: 80%;
  border: 0;
  outline: 0;
  background-color: #CC7A67;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  vertical-align: middle;
}

h2 {
  text-align: center;
  color: #505759;
}

h2 a {
  text-align: center;
  color: #505759;
}

.question-form .fa-plus-circle, .choice-form .fa-plus-circle {
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}

.login-register-form input, .new-survey-form input {
  margin: 10px auto;
  width: 100%;
  border: 0;
  outline: 0;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.login-register-form input[type=submit], .new-survey-form input[type=submit] {
  margin: 10px auto;
  width: 100%;
  border: 0;
  outline: 0;
  background-color: #CC7A67;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
}

.login-register-header {
  text-align: center;
}

#create-survey-link {
  text-align: center;
}

#create-survey-link a:link {
  text-decoration: none;
  color: #505759;
}

#create-survey-link a:visited {
  color: #505759;
}

.survey-response {
  margin-bottom: 50px;
}

.add-choice-input {
  background: none;
  outline: 0;
  border: 0;
}

.home, .add-button {
  text-align: center;
  background: none;
  border: 0;
  outline: 0;
  color: #fff;
}



