<form action="/questions/<%= question.id %>/choices" method="post" class="choice-form">
  <fieldset class="choice-field">
    <%= erb :"/choices/_add_choice" %>
  </fieldset>
  <button type="button" class="add-choice-input"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
  <input type="submit" value="Submit All Coices">
</form>
