<% @surveys.each do |survey| %>
<ul class="survey-title">
   <li id="<%= survey.id %>"><a href="/surveys/<%= survey.id %>"><%= survey.title %></a></li>
</ul>
  <% end  %>

<h2 id="create-survey-link"> <a href="/surveys/new">Create New Suvey</a></h2>
