<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,900|Ubuntu:400,700" rel="stylesheet">
  <script src="https://use.fontawesome.com/090658602e.js"></script>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Survey Gorilla</title>
</head>
<body>
  <div class="container">
    <nav>
      <ul>
        <li><a href="/"><button class="home"><i class="fa fa-home" aria-hidden="true"></i></button></a></li>
        <% if logged_in? %>
        <li><a href="/users/<%= current_user.id %>">Hello, <%= current_user.first_name %></a></li>
        <li><form method="POST" action="/sessions">
              <input type="hidden" name="_method" value="DELETE" />
              <input type="submit" class="button" value="Logout" />
            </form>
        </li>
        <% else %>
        <li><a href="/sessions/new">Login</a></li>
        <li><a href="/users/new">Sign Up</a></li>
        <% end %>
      </ul>
    </nav>
    <div class="logo-container">
      <img src="/images/survey-gorilla-white.png" class="logo">
      <h1><a href="/">Survey Gorilla</a></h1>
    </div>
    <div class="main">
    <%= yield %>
    </div>
  </div>
</body>
</html>
